RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php
ErrorDocument 500 /assessment-backend/error/
ErrorDocument 403 /assessment-backend/error/ 